In [22]:
import pandas as pd

In [24]:
# Caminhos para a pasta data
c1 = "club_league.csv"
c2 = "clubs.csv"
c3 = "leagues.csv"
c4 = "players.csv"
c5 = "transfers.csv"

In [25]:
# Leitura dos arquivos usando os caminhos
d1 = pd.read_csv(c1, sep = ",")
d2 = pd.read_csv(c2, sep = ",")
d3 = pd.read_csv(c3, sep = ",")
d4 = pd.read_csv(c4, sep = ",")
d5 = pd.read_csv(c5, sep = ",")

In [27]:
d1.head()

   club_id league_id  season  squad  market_value
0        1        L1    1963     18             0
1        1        L1    1976     23             0
2        1        L1    1977     18             0
3        1        L1    1985     25             0
4        1        L1    1992     26             0