In [22]:
import pandas as pd

In [24]:
# Caminhos para a pasta data
c1 = "club_league.csv"
c2 = "clubs.csv"
c3 = "leagues.csv"
c4 = "players.csv"
c5 = "transfers.csv"

In [25]:
# Leitura dos arquivos usando os caminhos
d1 = pd.read_csv(c1, sep = ",")
d2 = pd.read_csv(c2, sep = ",")
d3 = pd.read_csv(c3, sep = ",")
d4 = pd.read_csv(c4, sep = ",")
d5 = pd.read_csv(c5, sep = ",")

In [27]:
d1.head()

   club_id league_id  season  squad  market_value
0        1        L1    1963     18             0
1        1        L1    1976     23             0
2        1        L1    1977     18             0
3        1        L1    1985     25             0
4        1        L1    1992     26             0

In [29]:
d2.head()

,id,url,club_name,id_current_league,current_mv
0,-5,https://www.transfermarkt.com,Retired,NaN,0
1,1,https://www.transfermarkt.com/1-fc-saarbrucken...,1.FC Saarbrücken,L3,7380000
2,2,https://www.transfermarkt.com/1-fc-kaiserslaut...,1.FC Kaiserslautern,L2,20450000
3,3,https://www.transfermarkt.com/1-fc-koln/starts...,1.FC Köln,L2,69700000
4,4,https://www.transfermarkt.com/1-fc-nurnberg/st...,1.FC Nuremberg,L2,26700000